.bg {
  background-color: white;
  background-size: cover;
  height: 100vh;
  font-family: 'roboto';
  color: white;
}
.row {
  display: flex;
  flex-direction: column;
  background-color: #64748b;
  flex-grow: 1;

  background-size: cover;
  width: 60%;
}

.row-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dkjfsl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
